#project{
  
  
    text-align: center;
    justify-content: center

}
.projectheader{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
.projectsmain{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
    text-align: left;
}
.projectcard{
    display: flex;
    flex-direction: column;
    
    background-color: rgb(50, 50, 50);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 80rem;
    gap: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.projecttitle{
    font-size: 2rem;
    font-weight: 700;
}
.projectdescription{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    max-width: 70rem;
    padding: 0 rem;
    font-family: 'Times New Roman', Times, serif;
}